<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>medSelectAdapter</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>com.medselect.server.MedSelectServerApplication</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>medSelectAdmin</servlet-name>
    <servlet-class>com.medselect.server.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>officeSignup</servlet-name>
    <servlet-class>com.medselect.server.OfficeSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>officeCalendarCallback</servlet-name>
    <servlet-class>com.medselect.server.CalendarCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadDoctorImage</servlet-name>
    <servlet-class>com.medselect.doctor.UploadDoctorImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServeDoctorImage</servlet-name>
    <servlet-class>com.medselect.doctor.ServeDoctorImage</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.medselect.imageservice.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServeDoctorExport</servlet-name>
    <servlet-class>com.medselect.doctor.ServeDoctorExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeConfigExport</servlet-name>
    <servlet-class>com.medselect.config.ServeConfigExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeApplicationExport</servlet-name>
    <servlet-class>com.medselect.application.ServeApplicationExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeUserExport</servlet-name>
    <servlet-class>com.medselect.user.ServeUserExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeStaticListExport</servlet-name>
    <servlet-class>com.medselect.staticlist.ServeStaticListExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeAuditLogExport</servlet-name>
    <servlet-class>com.medselect.audit.ServeAuditLogExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeAuditExport</servlet-name>
    <servlet-class>com.medselect.audit.ServeAuditExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeBillingGroupExport</servlet-name>
    <servlet-class>com.medselect.billing.ServeBillingGroupExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeBillingOfficeExport</servlet-name>
    <servlet-class>com.medselect.billing.ServeBillingOfficeExport</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ServeAppointmentExport</servlet-name>
    <servlet-class>com.medselect.appointment.ServeAppointmentExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportDoctorData</servlet-name>
    <servlet-class>com.medselect.doctor.ImportDoctorData</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>ImportConfigData</servlet-name>
    <servlet-class>com.medselect.config.ImportConfigData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportStaticListData</servlet-name>
    <servlet-class>com.medselect.staticlist.ImportStaticListData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>medSelectAdapter</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>medSelectAdmin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>medSelectAdmin</servlet-name>
    <url-pattern>/service/loadconfig.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>officeSignup</servlet-name>
    <url-pattern>/office-signup/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>officeCalendarCallback</servlet-name>
    <url-pattern>/office-callback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadDoctorImage</servlet-name>
    <url-pattern>/upload-doctor-image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeDoctorImage</servlet-name>
    <url-pattern>/serve-doctor-image</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/service/imagerender/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeDoctorExport</servlet-name>
    <url-pattern>/service/doctor/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeApplicationExport</servlet-name>
    <url-pattern>/service/app/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeUserExport</servlet-name>
    <url-pattern>/service/user/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeAuditLogExport</servlet-name>
    <url-pattern>/service/auditlog/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeAuditExport</servlet-name>
    <url-pattern>/service/audit/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeBillingGroupExport</servlet-name>
    <url-pattern>/service/billinggroup/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeBillingOfficeExport</servlet-name>
    <url-pattern>/service/billingoffice/export</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeAppointmentExport</servlet-name>
    <url-pattern>/service/appointment/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportDoctorData</servlet-name>
    <url-pattern>/import-doctor-data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeStaticListExport</servlet-name>
    <url-pattern>/service/staticlist/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeConfigExport</servlet-name>
    <url-pattern>/service/config/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportConfigData</servlet-name>
    <url-pattern>/import-config-data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportStaticListData</servlet-name>
    <url-pattern>/import-staticlist-data</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/upload-doctor-image</url-pattern>
      <url-pattern>/service/appointmentcleanup</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
