@font-face {
  font-family: 'Myriad';
  src: url('fonts/MYRIADPRO-REGULAR.eot');
  src: local('☺'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('fonts/MYRIADPRO-REGULAR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
.ui-body-c, .ui-overlay-c{
  background-color: transparent;
  background-image: none;
  font-family: Myriad, Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 1.8em;
  color: #007DC3;
}

.disclaimer {
  position: absolute;
  bottom: 7%;
  left: 30%;
  width: 50%;
  font-family: Myriad, Helvetica, Arial, sans-serif;
  color: #007DC3;
  font-size: 0.8em;
}

.ui-content{
  padding:0px;
}

#logo{
  text-align:left;
  margin-top:30px;
  color:#484646;
  line-height:28px;
}
/* End Global Styles */

/* Page Container Styles */
#one{
  background-color: #EEEEEE;
}

#two, #six {
  background-image: url(../img/hand-bg-vertical.png);
  background-size: 100%;
}

#three {
  background-color: #EEEEEE;
}

#five, #seven, #eight, #nine{
  background-color: #DDD;
}

#container {
  text-align:center;
  margin: 0 auto;
  background-color: transparent;
}

#three-greet{
  text-align:right;
  margin: 0 5% 0 0;
  width: 65%;
  float: right;
}

.logo {
  float: left;
  width: 25%;
  margin-top: -0.8em;
}

.logo img{
    padding-top: 10px;
}
/* End Page Container Styles */

/* Login Page Styles */
#login-message-title {
  padding: 7% 0 0 0;
  text-align:center;
  width: 100%;
}

#login-message-container {
  text-align:left;
  margin: 0 auto;
  background-color: transparent;
  color:#007dc3;
  width: 85%;
}

#login{
  text-align:left;
  margin: 0 10% 0 40%;
  background-color: transparent;
  width: auto;
  padding-top: 1em;
  color: #000000;
}

#login-forgot {
  font-size: 0.7em;
}

#login-loader {
  display: none;
  width: 52px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

#login-submit {
  width:40%;
}

#login-register {
  float:right;
}

#login input {
  background-color:#FFFFFF;
  /* old: #ed9a59 */
  border:1px solid #969898;
}

/* End Login Page Styles */

/* JQuery UI Overrides */
.ui-btn-hidden{
  border:2px solid #ed9a59;
}

/* End JQuery UI Overrides */

/* Image Flow Styles */
#button_footer{
  position: absolute;
  background-color: transparent;
  bottom: 20px;
  left:40px;
  border:0px;
  height: 40px;
  width:270px;
  z-index:10000;
}

#button_footer a{
  padding:0px;
}

/* End Image Flow Styles */

/* Drawing Screen Styles */
#menu-button{
  background: url(../img/pen_gray.png) no-repeat transparent;
  position: absolute;
  top: 0;
  right: 20px;
  width: 60px;
  height: 50px;
  z-index: 1000;
}

#menu-bar{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: url('../img/menu-bar-top.jpg');
  z-index: 200;
  opacity: 0.5;
}
/* End Drawing Screen Styles */

/* Start Drawing Bottom Menu Bar */
#menu-bar-bottom{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: url('../img/menu-bar-bottom.jpg');
  z-index: 100;
  opacity: 0.5;
}

#menu-settings{
  position: absolute;
  vertical-align:middle;
  text-align:left;
  padding-left: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

#image-status-number {
  position:absolute;
  left: 35%;
  bottom: 8px;
  width: 30%;
  padding: 5px;
  z-index: 101;
}

#img-r{
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: 101;
}
/* End Drawing Bottom Menu Bar */

/* Drawing Top Bar */
#menu-active-button{
  display: none;
  background: url(../img/pen_blue.png) no-repeat transparent;
  position: absolute;
  top: 0;
  right: 20px;
  width: 60px;
  height: 50px;
  z-index: 1500;
  opacity: 1;
}

#menu-ColorPicker{
  display: none;
  position: absolute;
  left: 20px;
  width: 410px;
  height: 40px;
  z-index: 1000;
  vertical-align:middle;

}
#menu-lineWidth{
  display: none;
  position: absolute;
  left: 450px;
  height: 40px;
  z-index: 1000;
  vertical-align:middle;
}

.ColorBlotch{
  width:35px;
  height:35px;
  float:left;
  margin-left: 14px;
  margin-top: 5px;
  border: 2px solid #777777;
}

.lineWidth{
  width:45px;
  height:45px;
  float:left;
  margin-left:5px;
}

.lineWidth#thin{
  background-image: url(../img/thin.png);
  background-repeat: no-repeat;
}

.lineWidth#medium{
  background-image:url(../img/medium.png);
  background-repeat: no-repeat;
}

.lineWidth#large{
  background-image:url(../img/large.png);
  background-repeat: no-repeat;
}

.lineWidth#eraser {
  background-image:url(../img/eraser.png);
  background-repeat: no-repeat;
}

#pen{
  padding-left: 10px;
}

#drawing-logo {
  margin-top: -0.95em;
}
/* End Drawing Top Bar */

/* Sketchpad */
#sketchpad{
  z-index: 100;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 50px;
  width: 768px;
  height: 886px;
}

#drawable-image{
  position: absolute;
  top: 50px;
  left: 0;
  z-index: -10;
  width: 768px;
  height: 886px;
}
/* End Sketchpad */
/* End Drawing screen styles */

.ui-grid-a{
  font-size:14px;
  color:#504f4f;
  text-align:center;
  width:90%;
  margin: 40px auto 0px auto;
  border-radius: 10px;
  -moz-border-radius: 10px; /* firefox */
  -webkit-border-radius: 10px; /* safari, chrome */
}

#border-a {
  border-bottom:1px solid #969898;
}

#border-b{
  border-bottom:1px solid #969898;
}

#settings{
  background-color:#FFFFFF;
  border: 1px solid #969898;
  width:75%;
  margin: 0 auto;
  padding: 0.2em;
  text-align:left;
  font-size:15px;
}

#settings .ui-block-a{
  height: 2.5em;
  width:80%;
  padding: 0.7em 0 0 0;
}

#settings .ui-block-b{
  height: 2.5em;
  width:20%;
  padding: 0 0 0.7em 0;
}

/* Registration Form Styles */
#form-reg-loader {
  display: none;
  float: left;
  width: 52px;
  height: 52px;
  margin: 200px 0 0 220px;
}

.reg-title {
  width:100%;
}

.reg-title h2{
  margin: 0 auto;
  font-size: 2.0em;
  margin-top: 2.0em;
  margin-left: 30px;
  margin-right: 30px;
}

.instructions {
    margin: 0px 40px 0 40px;
}

.instructions p {
    font-size: 1.0em;
    color: #007DC3;
    text-align: left;
}

#form-reg {
  width: 75%;
  margin: 0 3em 0 3em;
  float: right;
}

#form-reg fieldset .fieldalign label, #form-reg fieldset .city-state-fieldalign label {
    text-align: right;
}
/* JQM Overide - JQ FIELDCONTAIN for text input - REG FORM */
.ui-field-contain {
    margin: 0.4em 0 0 0;
    line-height: 2.0;
}
/* JQM Overide - JQ FIELDCONTAIN LABEL for text input - REG FORM */
.ui-field-contain.ui-body label {
    width: 34%;
    display: inline-block;
    padding-right: 0.2em;
    font-size: 1.0em;
    font-weight: 600; 
}

/* JQM Overide - JQ FIELDCONTAIN LABEL for STATE SELECT LABEL - REG FORM */
.ui-field-contain.ui-body label {
    width: 34%;
    display: inline-block;
    padding-right: 0.2em;
    font-size: 1.0em;
    font-weight: 600; 
}

input.ui-input-text { 
    padding: .3em;
    line-height: 1.6;
    font-size: 0.9em; 
    display: block; 
}

input.ui-input-text { 
    padding: .3em;
    line-height: 1.6;
    font-size: 0.9em; 
    display: block; 
}

#form-reg input {
    background: #FFF;
    border: 1px solid #969898;
    width: 65%;
    float: right;
    clear: both;
}


/* JQM Overides Block - CITY STATE ALIGNMENT - REG FORM */
#form-reg .ui-grid-a {
    width: 100%;
    margin: 0;
    font-size: 1.0em;  
}

#form-reg .ui-grid-a .ui-field-contain {
    margin: 0.4em 0 0 0;
    line-height: 2.0;
}

#form-reg .ui-grid-a .ui-block-a {
    width: 72%;
}

#form-reg .ui-grid-a .ui-block-b {
    width: 28%
}

.ui-grid-a .ui-block-a .ui-field-contain.ui-body label {
    width: 47%;
    display: inline-block;
    padding-right: 0.2em;
    font-size: 1.0em;
    font-weight: 600; 
}

#form-reg .ui-grid-a .ui-block-a input {
    background: #FFF;
    border: 1px solid #969898;
    width: 18.7em;
    float: right;
    clear: both;
}

#form-reg .ui-select {
   height: 1.6em;
   width: 8em;
   float: right;
   clear:both;
}

#form-reg .ui-select .ui-btn-inner {
   height: 1.8em;
   padding: 0;
}

#form-reg .ui-select .ui-btn-inner .ui-btn-text {  
   font-size: 1.0em;
}
/* END CITY STATE ALIGNMENT - REG FORM */

#form-reg .ui-grid-b {
    margin-top: 1em;
}

#form-reg .ui-grid-b .ui-block-a {
    width: 35%
}

#form-reg .ui-grid-b .ui-block-b {
    width: 20%
}

#form-reg .ui-btn-hidden {
    opacity: 0;
}

#register a {
  text-decoration:none;
  color:#FFFFFF;
}

.repositon {
   position: absolute;
   bottom: 3%; 
}

/* End Registration Styles */

/* Info/Settings Screen Styles */
.info-head {
  display: block;
  width:100%;
  background-color:#ddd;
  min-height:75px;
}

.info-title h2{
  width: 100%;
  margin: 0 auto;
  font-size: 2.0em;
  text-align: center;
  margin-bottom: 1em;
}

.info-title h3 {
  text-align:center;
  font-weight:bold;
  width: 100%;
  margin: auto 0;
  font-size:1.5em;
}

.info-body {
  position: relative;
  text-align:center;
  width:90%;
  margin: 5% auto 10% auto;
}

/* Overrides for generated jqmobile generated css */
/* Alignment and positioning of toggle slider button inside listview */
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    display: block;
    padding: 0.5em 20px 0.5em 20px;
}

label#notify-email-label.ui-slider, label#notify-txt-message-label.ui-slider, label#notify-unsubscribe-label.ui-slider  {
    width: 100%;
}

div.ui-slider-switch {
    position: absolute;
    right: 0;
    top: -8px;
    width: 15% !important;
}
/* END OVERIDES */

#done-button-div{
	float:right;
	width:15%;
	margin-right:1em;
	margin-top: 0.5em;
}

/* End Info/Setting Screen Styles */

/* Added Styles MSG */
#button-overlay {
  top: 40%;
  left: 50px;
  height: 40px;
  width: 250px;
  position: absolute;
}

.image-unselected {
  float: left;
  margin: 0px 2px 0px 2px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
}

.image-selected {
  background-color: #000000;
}

#submit-reg-message {
  display: none;
}

.validate-tips {
  border: 1px solid transparent; padding: 0.3em;
}